.Rproj.user
.Rhistory
.RData
.DS_Store
.Ruserdata
01-Reproducibility_Replicability/Angel_pipeline/lefse
01-Reproducibility_Replicability/Angel_pipeline/Rplots
01-Reproducibility_Replicability/Tsementzi_pipeline/lefse
01-Reproducibility_Replicability/Tsementzi_pipeline/RResults
